/* static/styles.css */

.flash-messages {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    width: auto;
    padding: 10px 20px;
    border: 1px solid #ccc;
    background-color: #f4f4f4;
    color: #333;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    text-align: center;
}

.my-handle, .post-a {
    display: inline;
}

.editor-toolbar button{
    color: black;
}

@media (min-width: 576px) {
  main .grid {
    grid-column-gap: var(1em);
    grid-template-columns: 20% auto;
  }
}

nav {
  margin-bottom: 0.6em;
}