<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Blog{% endblock %}</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="/static/pico.css">
    <!-- <script src="https://cdn.jsdelivr.net/npm/dompurify/dist/purify.min.js"></script> -->
    {% block headlink %} 
    {% endblock %}
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flash-messages">
                {% for message in messages %}
                    <div>{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <header class="container">
      <nav>
        <ul>
          <li><a href="/" class="contrast"><strong>2024 Summer</strong></a></li>
          <li><a href="/posts" >博客</a></li>
          <li><a href="/code_diffs" >代码比对列表</a></li>
          <li><a href="/publish" >发布比对</a></li>
        </ul>
        <ul>
          {% if user %}
          <li>{{ user.username }}</li>
          <li><a href="/logout">登出</a></li>
          {% else %}
          <li><a href="/login">登录</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>
    {% block content %}{% endblock %}
</body>
<script>
    setTimeout(function() {
        const flashMessages = document.querySelector('.flash-messages');
        if (flashMessages) {
            flashMessages.style.display = 'none';
        }
    }, 1000);
</script>
<!-- <script src="/static/tabler.min.js"></script> -->
{% block script %}
{% endblock %}
</html>