{% extends "base.html" %}

{% block title %}{{ selected_post.title }} - My Blog{% endblock %}

{% block headlink %}
<script src="/static/Sortable.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.css">
<script src="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
{% endblock %}

{% block content%}
<main class="container">
    <div class="grid">
        <aside class="pico">
            <a href="{{ url_for('main.create_post') }}">创建新文章</a>
            <hr />
            <h3>博文列表</h3>
            <div id="posts-list">
                {% for post in posts %}
                <div class="post-item" data-id="{{ post.id }}">
                    <span class="my-handle">
                        <img src="/static/arrows-move.svg">
                    </span>
                    <a class="post-a" href="{{ url_for('main.posts', post_id=post.id) }}">{{ post.title }}</a>
                </div>
                {% endfor %}
            </div>
        </aside>
        <section>
            {% block main_content %}
                {% if selected_post %}
                <div class="pico">
                    <h1>{{ selected_post.title }}</h1>
                    <textarea id="markdown-content" style="display:none;">{{ selected_post.body }}</textarea>
                    <article id="markdown-view"></article>
                    <a href="{{ url_for('main.edit_post', post_id=selected_post.id) }}" class="btn btn-secondary">Edit</a>
                </div>
                {% else %}
                <h1>为什么要写博客？</h1>
                <p>信息学奥赛是一门「数学」、「编码」集合一体的体育竞赛。所以在学习的过程中总结与复习是非常重要的。写博客或者说写总结就是一个反思与复习的过程。</p>
                {% endif %}
            {% endblock %}
        </section>
    </div>
</main>
{% endblock %}

{% block script %}
<script>
    var el = document.getElementById('posts-list');
    var sortable = new Sortable(el, {
        handle: ".my-handle",
        onEnd: function (evt) {
            var order = [];
            var itemEl = evt.item;  // 拖拽的HTML元素
            document.querySelectorAll('.post-item').forEach(function (element) {
                order.push(element.getAttribute('data-id'));
            });

            fetch('/update_position', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ positions: order })
            }).then(response => response.json());
        },
    });
</script>
{% if selected_post %}
<script>
var markdownText = document.getElementById('markdown-content').value;
var dirtyHtml = marked.parse(markdownText);
var cleanHtml = DOMPurify.sanitize(dirtyHtml);
document.getElementById('markdown-view').innerHTML = cleanHtml;
</script>
{% endif %}
{% endblock %}