{% extends "base.html" %}

{% block title %}{{ selected_post.title }} - My Blog{% endblock %}

{% block headlink %}
<script src="/static/Sortable.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.css">
<script src="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
{% endblock %}

{% block content %}
<div class="page-wrapper">
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row align-items-center">
                <div class="col">
                    <div class="page-pretitle">
                        Overview
                    </div>
                    <h2 class="page-title">
                        博客
                    </h2>
                </div>
                <div class="col-auto ms-auto d-print-none">
                    <div class="btn-list">
                        <a href="{{ url_for('main.create_post') }}" class="btn btn-primary d-none d-sm-inline-block">
                            Create new Blog
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-body">
        <div class="container-xl">
            <div class="row row-deck">
                <div class="col-3">
                    <div class="list-group list-group-flush w-100" id="posts-list">
                        {% for post in posts %}
                        <div class="post-preview list-group-item list-group-item-action w-100" data-id="{{ post.id }}">
                            <div class="row">
                                <div class="col-auto">
                                    <span class="my-handle">
                                        <img src="/static/arrows-move.svg">
                                    </span>
                                </div>
                                <div class="col-auto">
                                    <a class="text-reset dJblock" href="{{ url_for('main.posts', post_id=post.id) }}">{{ post.title }}</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-9">
                    {% block main_content %}
                    <div class="main-content">
                        {% if selected_post %}
                        <h1>{{ selected_post.title }}</h1>
                        <textarea id="markdown-content" style="display:none;">{{ selected_post.body }}</textarea>
                        <div id="markdown-view"></div>
                        <a href="{{ url_for('main.edit_post', post_id=selected_post.id) }}"
                            class="btn btn-secondary">Edit</a>
                        {% else %}
                        <h1>为什么要写博客？</h1>
                        <p>信息学奥赛是一门「数学」、「编码」集合一体的体育竞赛。所以在学习的过程中总结与复习是非常重要的。写博客或者说写总结就是一个反思与复习的过程。</p>
                        {% endif %}
                    </div>
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    var el = document.getElementById('posts-list');
    var sortable = new Sortable(el, {
        handle: ".my-handle",
        onEnd: function (evt) {
            var order = [];
            var itemEl = evt.item;  // 拖拽的HTML元素
            document.querySelectorAll('.post-preview').forEach(function (element) {
                order.push(element.getAttribute('data-id'));
            });

            fetch('/update_position', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ positions: order })
            }).then(response => response.json());
        },
    });
</script>
{% if selected_post %}
<script>
var markdownText = document.getElementById('markdown-content').value;
var dirtyHtml = marked.parse(markdownText);
var cleanHtml = DOMPurify.sanitize(dirtyHtml);
document.getElementById('markdown-view').innerHTML = cleanHtml;
</script>
{% endif %}
{% endblock %}