{% extends "base_posts.html" %}

{% block title %}{{ post.title if post else '' }} Edit{% endblock %}

{% block main_content %}
<form method="post">
    <div class="pico">
        <label>Title</label>
        <input type="text" name="title" value="{{ post.title if post else '' }}" placeholder="Enter title here" />
        <label>Body</label>
    </div>
    <textarea id="markdown-editor" name="body">{{ post.body if post else '' }}</textarea>
    <div class="pico">
        <button type="submit" class="pico">Save</button>
    </div>
</form>
{% endblock %}

{% block script %}
<script>
var easyMDE = new EasyMDE({
     element: document.getElementById('markdown-editor'),
     });
</script>
{% endblock %}