{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<main class="container">
  <article class="grid">
    <div>
      <hgroup>
        <h1>登录</h1>
        <p>请登录 2024 Summer 系统</p>
      </hgroup>
      <form action="{{ url_for('main.login') }}" method="POST">
        {{ form.hidden_tag() }}
        <p>
          {{ form.username.label() }}
          {{ form.username() }}
        </p>
        <p>
          {{ form.password.label() }}
          {{ form.password() }}
        </p>
        <p>{{ form.submit() }}</p>
      </form>
    </div>
  </article>
</main>
{% endblock %}