{% extends "base.html" %}

{% block headlink %}
<script src="https://cdn.jsdelivr.net/npm/diff2html/bundles/js/diff2html-ui.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/diff2html/bundles/css/diff2html.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/highlight.js/styles/github.css">
<script src="https://cdn.jsdelivr.net/npm/highlight.js/lib/highlight.js"></script>
{% endblock %}

{% block content %}
<main class="container">
    <div class="grid">
        <aside class="pico">
            <h3>代码比对列表</h3>
            <ul>
            {% for diff in code_diffs %}
            <li>
                <a class="list-group-item list-group-item-action text-reset d-block" href="{{ url_for('main.view_code_diffs', diff_id=diff.id) }}">{{ diff.description }}</a>
            </li>
            {% endfor %}
            </ul>
        </aside>
        <section>
            {% if selected_diff %}
                <div class="pico">
                    <h1>{{ selected_diff.timestamp }}</h1>
                    <p>{{ selected_diff.description }}</p>
                </div>
                <div id="diff-container"></div>
            {% else %}
                <p>在左侧选择一个收到的代码比较</p>
            {% endif %}
        </section>
    </div>
</main>
{% endblock %}

{% block script %}
{% if selected_diff %}
<script>
var diffString = `{{ diff_html|safe }}`;
var targetElement = document.getElementById('diff-container');
var diff2htmlUi = new Diff2HtmlUI(targetElement, diffString, {
    drawFileList: false,
    matching: 'lines',
    outputFormat: 'side-by-side',
    synchronisedScroll: true,
});
diff2htmlUi.draw();
diff2htmlUi.highlightCode();
hljs.initHighlightingOnLoad();
</script>
{% endif %}
{% endblock %}